// ! GOOGLE FONT IMPORT
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
// ! RESET CSS
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
a,
button {
  list-style: none;
  text-decoration: none;
  background: none;
  border: none;
}
img,
video,
svg {
  max-width: 100%;
  height: auto;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", system-ui;
  line-height: 1.5;
}
// ! RESPONSIVE MEDIA QUERY
.container-nav,
.container {
  margin-inline: auto;
  max-width: 95%;
}

@media screen and (min-width: 450px) {
  .container-nav,
  .container {
    max-width: 92%;
  }
  @media screen and (min-width: 576px) {
    .container-nav {
      max-width: 560px;
    }
    .container {
      max-width: 540px;
    }
    @media screen and (min-width: 768px) {
      .container-nav {
        max-width: 750px;
      }
      .container {
        max-width: 720px;
      }
      @media screen and (min-width: 992px) {
        .container-nav {
          max-width: 1200px;
        }
        .container {
          max-width: 960px;
        }
        @media screen and (min-width: 1200px) {
          .container-nav {
            max-width: 1190px;
          }
          .container {
            max-width: 1140px;
          }
          @media screen and (min-width: 1400px) {
            .container-nav {
              max-width: 1380px;
            }
            .container {
              max-width: 1200px;
            }
          }
        }
      }
    }
  }
}
