// ! COLOR VARIABLE
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$blue-gray: hsla(245, 100%, 11%, 1);
$signup-btn-bg: hsla(230, 100%, 63%, 1);

// ! FONT & TYPOGRAPHY VARIABLE
$Helvetica: "";
$font-200: 200;
$font-300: 300;
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$font-800: 800;
$font-900: 900;
