.trust-miro {
  background: hsla(46, 100%, 59%, 1);
  margin: 2rem 0;
  .container {
    display: grid;
    place-content: center;
    place-items: center;
    overflow-x: hidden;
    .top-container {
      display: grid;
      place-content: center;
      place-items: center;
      text-align: center;
      margin-top: 3rem;
      .heading {
        max-width: 498px;
      }
      .outer-uri {
        max-width: 298.77px;
        a {
          color: $blue-gray;
          border-bottom: 1px solid $blue-gray;
          padding: 0 0.6rem;
          font-weight: $font-400;
        }
      }
    }
    .bottom-container {
      display: flex;
      overflow-x: hidden;
      align-items: flex-start;
      margin: 2rem;
      gap: 2rem;
      .item {
        width: 359.95px;
        min-height: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        .title {
          font-size: 3rem;
          font-weight: $font-900;
          color: $blue-gray;
        }
        .sub-title {
          font-size: 1.2rem;
          color: $blue-gray;
          font-weight: $font-400;
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .trust-miro {
    .container {
      .top-container {
        .heading {
          max-width: 498px;
        }
        .outer-uri {
          max-width: 298.77px;
        }
      }
      .bottom-container {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 5rem;
        gap: 0;
        .item {
          margin-top: 6rem;
        }
      }
    }
  }
}
