// ! MOBILE FAST CSS
// ! REUSEABLE CSS
@mixin nav-item {
  margin: 0.3rem 0;
  padding-left: 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 0px 4px 12px 0px hsla(245, 100%, 11%, 0.08);
  font-weight: $font-400;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $white;
  z-index: 100;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  .left-container {
    .nav-list {
      background: $white;
      .nav-item {
        padding: 0.5rem 0;
        @include nav-item();
        &:hover {
          background: #f3f0f0;
        }
        .nav-link {
          display: block;
          color: $blue-gray;
        }
        .collapse-btn {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          color: $blue-gray;
          font-size: 1rem;
          cursor: pointer;
          font-weight: $font-400;
          .arrow-icon {
            transform: rotate(180deg);
          }
        }
        &:hover .collapse-btn .arrow-icon {
          transform: rotate(0deg);
        }
        .collapse-menu {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.6s ease-in-out;
          backdrop-filter: blur(20px);
        }
        &:hover .collapse-menu {
          max-height: 600px;
          overflow: hidden;
        }
      }
    }
  }
  .right-container {
    display: flex;
    align-items: center;
    .ctx-item {
      display: none;
    }
    .toggle-fly-menu {
      font-size: 1.7rem;
      cursor: pointer;
      transition: all 0.1s ease;
    }
  }
}

// ! MOBILE FLY MENU
@media screen and (max-width: 992px) {
  .nav {
    position: relative;
    .nav-list {
      position: absolute;
      width: 100%;
      right: 0;
      left: -150%;
      .nav-item {
        .collapse-btn {
          font-size: 2rem;
        }
      }
    }
  }
  .nav.fly {
    .nav-list {
      left: 0;
    }
  }
}

// ! MEDIA QUERY
@media screen and (min-width: 993px) {
  .nav {
    .left-container {
      display: flex;
      align-items: center;
      justify-content: center;
      .nav-list {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        .ctx-item {
          display: none;
        }
        .nav-item {
          box-shadow: none;
          position: relative;
          &:hover {
            background: transparent;
          }
          .collapse-menu {
            position: absolute;
            box-shadow: 0px 4px 12px 0px hsla(245, 100%, 11%, 0.08);
            width: 10rem;
            background: $white;
            .nav-item {
              @include nav-item();
              box-shadow: none;
              &:hover {
                background: #f3f0f0;
              }
              .nav-link {
                display: block;
                color: $blue-gray;
              }
            }
          }
        }
      }
    }
    .right-container {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      .ctx-item {
        display: flex;
        align-items: center;
        gap: 1.4rem;
        .nav-link {
          display: block;
          color: $blue-gray;
        }
      }
      .toggle-fly-menu {
        display: none;
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  .nav {
    height: 90px;
    .nav-list {
      gap: 1rem;
    }
  }
}
