.home {
  padding: 4rem 0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .image-container {
      max-width: 640px;
    }
    .text-container {
      max-width: 440px;
      .title {
        text-align: start;
        max-width: 376px;
      }
      .sub-title-container {
        max-width: 428px;
        margin-bottom: 1rem;
      }
      form {
        input {
          padding: 1rem 2rem;
          border: 1px solid hsla(245, 12%, 64%, 1);
          width: 100%;
          border-radius: 1000px;
          color: hsla(245, 16%, 43%, 1);
          font-size: 18px;
          font-weight: $font-400;
          margin-bottom: 0.7rem;
          &::placeholder {
            color: hsla(245, 16%, 43%, 1);
            font-size: 18px;
            font-weight: $font-400;
          }
          &:focus {
            outline: none;
            border: 1px solid $signup-btn-bg;
          }
        }
        label {
          font-size: 14px;
          font-weight: $font-400;
          color: hsla(245, 100%, 11%, 0.4);
          margin-top: 0.3rem;
        }
      }
      .ratting-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px;
        margin-top: 2rem;
        max-width: 350px;
        border-radius: 8px;
        background: hsla(240, 11%, 96%, 1);
        .ratting {
          display: flex;
          flex-direction: column;
          max-width: 136px;
          font-size: 11px;
          font-weight: $font-400;
          color: $blue-gray;
        }
        .svgs {
          max-width: 185px;
          display: flex;
          align-items: center;
          gap: 14.33px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .home {
    padding-top: 7rem;
    .container {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}
