.work-to-gether {
  padding: 1rem 0;
  .container {
    .text-container {
      text-align: start;
      .title {
        max-width: 440.7px;
      }
      .sub-title {
        max-width: 453.72px;
        margin-bottom: 2rem;
      }
    }
    .img-container {
      max-width: 550px;
    }
  }
}
@media screen and (min-width: 700px) {
  .work-to-gether {
    padding: 2rem;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .text-container {
        .title {
          margin: 1rem 0;
        }
      }
    }
  }
}
